.menu-container {
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
    margin: 10px;
    padding: 8px 0;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: darkcyan;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid darkcyan;
}
